{{#partial "contenido"}}
    <head>
        <link rel="stylesheet" type="text/css" href="/consultaPuntosStyles.css">
    </head>
    <div class="rectangulo-puntos-personalizado">
        <div class="stats-puntos-container">
            <div class="stats-puntos-card active">
                <!-- TODO: ESTO DEBERIA TOMARSE DESDE EL BACK, SERIA LOS PUNTOS QUE TIENE EL USUARIO -->
                <div class="stats-puntos-title">Puntos acumulados:</div>
                <div class="stats-puntos-value">{{puntaje}}</div>
                <!-- //TODO: ESTE BOTON DEBERIA ENVIARME HACIA LA PAGINA CANJEAR PUNTOS -->
                <button class="canjealos-btn" onclick="handleCanjearPuntosClick()">Canjealos!</button>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base }}