<style>
.csv-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f6f8;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 250px;
}

.csv-upload-label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.csv-upload-input {
    margin-bottom: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.csv-upload-button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.csv-upload-button:hover {
    background-color: #45a049;
}

.csv-upload-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
</style>

{{#partial "contenido"}}
<div class="csv-upload-container">
    <form id="csv-upload-form" method="POST" action="/colaboracionesCSV" enctype="multipart/form-data">
        <label for="csv-file" class="csv-upload-label">Cargá los colaboradores !!</label>
        <input type="file" id="csv-file" name="csv-file" accept=".csv" class="csv-upload-input" required>
        <div class="button-container">
            <button type="submit" class="csv-upload-button">Subir</button>
        </div>
    </form>
</div>

{{/partial}}
{{> templates/base }}
