.container{
    display: flex;
    left: 20%;
    top: 45%;
    gap: 30px;
}

.disabledBtn{
    background-color: #f1f1f1;
    color: #c1c1c1;
    cursor: not-allowed;
}

.boton-navbar-estilo-comun1 {
    /* Aquí van los estilos comunes para los botones de la barra de navegación */
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
}

.dashboard-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #3b82f6; /* Azul vivo para destacar */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 2px solid #2563eb; /* Borde para consistencia */
  }
  
  .dashboard-btn:hover {
    background-color: #2563eb; /* Color más oscuro al pasar el cursor */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); /* Ligera elevación al hover */
  }
  
  .dashboard-btn:active {
    background-color: #1d4ed8; /* Color aún más oscuro al hacer clic */
    transform: translateY(1px); /* Simulación de presión */
  }