body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#top-bar {
    height: 50px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#map {
    height: calc(100vh - 50px); /* Altura del mapa ajustada */
    width: 100%; /* Ancho del mapa para que ocupe todo el contenedor */
}

.select-box {
    margin-left: 20px;
}