<style>
    .btn-heladera {
        all: unset;
        cursor: pointer;
    }

    .rectangulo-heladeras-personalizado {
        width: 500px; /* Adjust the width as needed */
        height: auto;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
    }

    .heladeras-lista {
        max-height: 300px; /* Adjust the height as needed */
        overflow-y: auto; /* Add vertical scrollbar */
    }

    .heladera-detalles {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        font-family: 'Poppins', sans-serif;
    }

    .heladera-radio:checked + label + .heladera-detalles {
        display: block;
    }

    .alertas-fecha {
        color: gray;
        font-size: 15px;
    }

    .btn-reportFalla {
        color: white;
        background-color: #002b59;
        padding: 5px;
        margin-left: 5px;
        border-radius: 11%;
        border: none;
        cursor: pointer;
    }
</style>

<head>
    <link rel="stylesheet" type="text/css" href="/donarDineroStyles.css">
</head>
{{#partial "contenido"}}
    <form method="POST" action="/guardarSuscripcion" class="styled-form-dd">
        {{#if desperfecto}}
            <h3>Suscripcion Desperfecto</h3>
            <input type="hidden" name="id-heladera" value="{{id-heladera}}">
            <input type="hidden" name="tipo-suscripcion" value="desperfecto">
            <button type="submit">Suscribirse !</button>
        {{/if}}
        {{#if reposicion}}
            <h3>Suscripcion Reposicion</h3>
            <label for="viandas-minimas">Viandas Minimas:</label>
            <input type="number" id="viandas-minimas" name="viandas-minimas" min="1" value="1" required><br><br>
            <input type="hidden" name="id-heladera" value="{{id-heladera}}">
            <input type="hidden" name="tipo-suscripcion" value="reposicion">
            <button type="submit">Suscribirse !</button>
        {{/if}}
        {{#if distribucion}}
            <h3>Suscripcion Distribucion</h3>
            <label for="viandas-maximas">Viandas maximas:</label>
            <input type="number" id="viandas-maximas" name="viandas-maximas" min="1" value="1" required><br><br>
            <input type="hidden" name="id-heladera" value="{{id-heladera}}">
            <input type="hidden" name="tipo-suscripcion" value="distribucion">
            <button type="submit" class="btn-reportFalla">Suscribirse</button>
        {{/if}}
    </form>
{{/partial}}
{{> templates/base }}