{{#partial "contenido"}}
    <div class="rectangulo-heladeras-personalizado">
        <div class="stats-puntos-container">
            <div class="heladeras-lista">
                <h2>Heladeras Disponibles!</h2>

                    <ul id="heladeras-lista">
                        {{#each heladeras}}
                        <li>
                            <form method="POST" action="/suscripcion" >

                                    <button class="btn-heladera">
                                        <div class="heladera-detalles">
                                            <h3>{{this.nombre}}</h3>
                                            <p>Capacidad: {{this.capacidad}}</p>
                                            <p>Fecha Instalacion: {{this.fechaInstalacion}}</p>
                                        </div>
                                    </button>
                                    <select name="tipo-suscripcion" required>
                                        <option value="desperfecto">DESPERFECTO</option>
                                        <option value="distribucion">DISTRIBUCION</option>
                                        <option value="reposicion">REPOSICION</option>
                                    </select>

                                <input type="hidden" name="id-heladera" value="{{this.id}}">
                                <button type="submit" class="btn-reportFalla">Suscribirse</button>
                            </form>
                        </li>
                        {{/each}}
                    </ul>
            </div>
        </div>
    </div>

    <style>
        .btn-heladera {
            all: unset;
            cursor: pointer;
        }

        .rectangulo-heladeras-personalizado {
            width: 500px; /* Adjust the width as needed */
            height: auto;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
        }

        .heladeras-lista {
            max-height: 300px; /* Adjust the height as needed */
            overflow-y: auto; /* Add vertical scrollbar */
        }

        .heladera-detalles {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            font-family: 'Poppins', sans-serif;
        }
        .heladera-radio:checked + label + .heladera-detalles {
            display: block;
        }
        .alertas-fecha{
            color: gray;
            font-size: 15px;
        }
        .btn-reportFalla{
            color: white;
            background-color: #002b59;
            padding: 5px;
            margin-left: 5px;
            border-radius: 11%;
            border: none;
            cursor: pointer;
        }
    </style>
{{/partial}}
{{> templates/base }}