body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pg-principal-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #002b59 75%, snow 25%);
}

.pg-principal-blur-rectangle {
    width: 30vw;
    height: 20vh;
    background-color: #5FD58B;
    filter: blur(80px);
    border-radius: 100px;
    position: absolute;
}

.pg-principal-imagen-full-width, .pg-principal-imagen-logo-esquina {
    position: absolute;
}

.pg-principal-imagen-full-width {
    width: 900px;
    height: 600px;
    left: 870px;
    top: 60px;
}

.pg-principal-imagen-logo-esquina {
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
}

.pg-principal-rectangulo-personalizado {
    width: 700px;
    height: 250px;
    background-color: #4CAF50;
    position: absolute;
    top: 80%;
    left: 32%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.styled-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.styled-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.styled-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.styled-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.styled-form button:hover {
    background-color: #45a049;
}

.styled-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    margin-left: -50px; /* Mueve el formulario hacia la izquierda */
}

.data-display {
    width: 50%;
    float: right;
    border: 1px solid #000;
    height: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.styled-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-right: 20px; /* Espacio entre el formulario y el cuadro de datos */
}

.data-display {
    width: 50%;
    float: right;
    border: 1px solid #000;
    height: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.data-display ul {
    list-style-type: none;
    padding: 0;
}

.data-display li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.copy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #45a049;
}

/* PaginaCanjearPuntos.module.css */
body.puntos-body, html.puntos-html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pg-puntos-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #002b59 75%, snow 25%);
}

.pg-puntos-imagen-logo-esquina {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
}

.rectangulo-puntos-personalizado {
    width: 700px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.rectangulo-puntos-personalizado::before,
.rectangulo-puntos-personalizado::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 30px;
    background: burlywood;
}

.rectangulo-puntos-personalizado::before {
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
}

.rectangulo-puntos-personalizado::after {
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
}

.stats-puntos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.stats-puntos-card {
    position: absolute;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.stats-puntos-card.active {
    opacity: 1;
}

.stats-puntos-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #002b59;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.stats-puntos-value {
    color: #002b59;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.csv-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.csv-upload-label {
    font-size: 18px;
    margin-bottom: 10px;
}

.csv-upload-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #002b59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.csv-upload-button:hover {
    background-color: #004080;
}
.csv-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.csv-upload-label {
    font-size: 18px;
    margin-bottom: 10px;
}

.csv-upload-input {
    margin-bottom: 50px;
}

.csv-upload-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #002b59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.csv-upload-button:hover {
    background-color: #004080;
}