<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/loginstyles.css">
    <link rel="stylesheet" href="/consultaPuntosStyles.css">
    <link rel="stylesheet" href="/homestyles.css">
    <link rel="stylesheet" href="/colaboracionStyles.css">
    <link rel="stylesheet" href="/tiposDeColaboracionStyles.css">
    <link rel="stylesheet" href="/paginaAlertasStyles.css">
    <title>TP ANUAL DISENIO</title>
</head>
<body>
<div class="pg-principal-container">

    <!-- Navbar -->
    <nav class="navbar">
        <button class="inicio-btn boton-navbar-estilo-comun" onclick="location.href='/'">
            <div class="contenido-inicio-btn" style="display: flex; align-items: center;">
                <p>Inicio</p>
            </div>
        </button>

        <button class="alertas-btn boton-navbar-estilo-comun" onclick="location.href='/alertas'">
            <div class="contenido-noticias-btn" style="display: flex; align-items: center;">
                <p>Alertas</p>
            </div>
        </button>

        <button class="mapa-btn boton-navbar-estilo-comun" onclick="location.href='/mapa'">
            <div class="contenido-mapa-btn" style="display: flex; align-items: center;">
                <p>Mapa</p>
            </div>
        </button>

        <div id="colaborador-buttons hidden">
            <button class="puntos-btn boton-navbar-estilo-comun" onclick="location.href='/canjePuntos'">
                <div class="contenido-puntos-btn" style="display: flex; align-items: center;">
                    <p>Puntos</p>
                </div>
            </button>
            <button class="fallas-btn boton-navbar-estilo-comun">
                <div class="contenido-fallas-btn" style="display: flex; align-items: center;">
                    <p>Reportar Fallas</p>
                </div>
            </button>
        </div>

        {{#if humana}}
            <button class="suscribirse-btn boton-navbar-estilo-comun">
                <div class="contenido-fallas-btn" onclick="location.href='/suscripcion'" style="display: flex; align-items: center;">
                    Suscribirse
                </div>
            </button>
        {{/if}}



    </nav>

    {{#block "contenido"}}
    {{/block}}
</div>

<script>
    // Selecciona el botón y el dropdown
    const puntosBtn = document.querySelector('.puntos-btn');
    const puntosDropdown = document.querySelector('.puntos-dropdown');

    // Mostrar el menú cuando se pasa el ratón por encima del botón "Puntos"
    puntosBtn.addEventListener('mouseenter', () => {
        puntosDropdown.classList.remove('hidden');
    });

    // Ocultar el menú cuando se quita el ratón del contenedor "Puntos"
    puntosDropdown.addEventListener('mouseleave', () => {
        puntosDropdown.classList.add('hidden');
    });
</script>
</body>
</html>