<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loginstyles.css">
    <title>TP ANUAL DISENIO</title>

</head>
<body>
<div class="">
    {{#block "contenido"}}
    {{/block}}
</div>
<script src="PaginaLogin.js"></script>
<script>
    // // Selecciona el botón y el dropdown
    // const puntosBtn = document.querySelector('.puntos-btn');
    // const puntosDropdown = document.querySelector('.puntos-dropdown');
    //
    // // Mostrar el menú cuando se pasa el ratón por encima del botón "Puntos"
    // puntosBtn.addEventListener('mouseenter', () => {
    //     puntosDropdown.classList.remove('hidden');
    // });
    //
    // // Ocultar el menú cuando se quita el ratón del contenedor "Puntos"
    // puntosDropdown.addEventListener('mouseleave', () => {
    //     puntosDropdown.classList.add('hidden');
    // });
</script>
</body>
</html>
