<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/loginstyles.css">
    <link rel="stylesheet" href="/consultaPuntosStyles.css">
    <link rel="stylesheet" href="/homestyles.css">
    <link rel="stylesheet" href="/colaboracionStyles.css">
    <link rel="stylesheet" href="/tiposDeColaboracionStyles.css">
    <link rel="stylesheet" href="/paginaAlertasStyles.css">
    <title>TP ANUAL DISENIO</title>
</head>
<body>
<div class="pg-principal-container">

    <!-- Navbar -->

    <!-- Boton Inicio -->
    <nav class="navbar">

        <button class="inicio-btn boton-navbar-estilo-comun" onclick="location.href='/'">
            <div class="contenido-inicio-btn" style="display: flex; align-items: center;">
                <p>Inicio</p>
            </div>
        </button>

        <!-- Boton Alertas -->
        {{#unless administrador}}
            <button class="alertas-btn boton-navbar-estilo-comun" onclick="location.href='/alertas'">
                <div class="contenido-noticias-btn" style="display: flex; align-items: center;">
                    <p>Alertas</p>
                </div>
            </button>
        {{/unless}}


        <!-- Boton Mapa -->
        {{#unless administrador}}
            <button class="mapa-btn boton-navbar-estilo-comun" onclick="location.href='/mapa'">
                <div class="contenido-mapa-btn" style="display: flex; align-items: center;">
                    <p>Mapa</p>
                </div>
            </button>
        {{/unless}}

        <!-- Boton Puntos -->
        {{#if humana}}
            <button class="puntos-btn boton-navbar-estilo-comun" onclick="location.href='/canjePuntos'">
                <div class="contenido-puntos-btn" style="display: flex; align-items: center;">
                    <p>Puntos</p>
                </div>
            </button>
        {{/if}}

        {{#if humana}}
            <button class="puntos-btn boton-navbar-estilo-comun" onclick="location.href='/misProductosYServicios'">
                <div class="contenido-puntos-btn" style="display: flex; align-items: center; margin-left: 20px;">
                    <p>Mis productos/servicios</p>
                </div>
            </button>
        {{/if}}

        <!-- Boton Puntos -->
        {{#if juridica}}
            <button class="puntos-btn boton-navbar-estilo-comun" onclick="location.href='/canjePuntos'">
                <div class="contenido-puntos-btn" style="display: flex; align-items: center;">
                    <p>Puntos</p>
                </div>
            </button>
        {{/if}}


        <!-- Boton Dashboard -->
        {{#if administrador}}
            <button class="dashboard-btn" onclick="location.href='/dashboard'">
                <div class="contenido-dashboard-btn" style="display: flex; align-items: center;">
                    <p>Dashboard</p>
                </div>
            </button>
        {{/if}}

        <!-- Boton Suscribirse a una Heladera -->
        {{#if humana}}
            <button class="suscribirse-btn boton-navbar-estilo-comun">
                <div class="contenido-fallas-btn" onclick="location.href='/suscripcion'"
                     style="display: flex; align-items: center;">
                    Suscribirse
                </div>
            </button>
        {{/if}}

        <!-- Boton Suscribirse a una Heladera -->
        {{#if juridica}}
            <button class="suscribirse-btn boton-navbar-estilo-comun">
                <div class="contenido-fallas-btn" onclick="location.href='/suscripcion'"
                     style="display: flex; align-items: center;">
                    Suscribirse
                </div>
            </button>
        {{/if}}


        <!-- Boton de Iniciar Sesion o Username -->
        {{#if username}}
            <div id="auth-username">
                <p class="login-btn boton-login-estilo">Hola, {{username}}</p>
                <button class="logout-btn" onclick="location.href='/logout'">Cerrar sesion</button>
            </div>
        {{else}}
            <div id="auth-buttons" onclick="location.href='/login'">
                <button class="login-btn boton-login-estilo">Iniciar sesion!</button>
            </div>
        {{/if}}
    </nav>

    {{#block "contenido"}}
    {{/block}}
</div>

<script>
    // Selecciona el botón y el dropdown
    const puntosBtn = document.querySelector('.puntos-btn');
    const puntosDropdown = document.querySelector('.puntos-dropdown');

    // Mostrar el menú cuando se pasa el ratón por encima del botón "Puntos"
    puntosBtn.addEventListener('mouseenter', () => {
        puntosDropdown.classList.remove('hidden');
    });

    // Ocultar el menú cuando se quita el ratón del contenedor "Puntos"
    puntosDropdown.addEventListener('mouseleave', () => {
        puntosDropdown.classList.add('hidden');
    });
</script>
</body>
</html>