{{#partial "contenido"}}
    <div id="container" class="container">
        <div class="signupSection">
            <header onclick="setActive(false)">Registrate como...</header>
            <div class="social-buttons">
                <button onclick="setPersonaType('juridica')" class="btnLogInPersonaJuridicaHumana">
                    <img src="/images/IconoPJ.png" alt="Icono Persona Jurídica"/>
                    <div>Persona Juridica</div>
                </button>
                <button onclick="setPersonaType('humana')" class="btnLogInPersonaJuridicaHumana">
                    <img src="/images/IconoPH.png" alt="Icono Persona Humana"/>
                    <div>Persona Humana</div>
                </button>
                <button onclick="setPersonaType('tecnico')" class="btnLogInPersonaJuridicaHumana">
                    <img src="/images/IconoTec.png" alt="Icono Tecnico"/>
                    <div>Tecnico</div>
                </button>
                <button onclick="setPersonaType('administrador')" class="btnLogInPersonaJuridicaHumana">
                    <img src="/images/IconoAdmin.png" alt="Icono Administrador"/>
                    <div>Admin</div>
                </button>
            </div>
            <div class="separator">
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <form id="registerForm" method="POST" action="/signUp">
                <!-- Form fields will be dynamically inserted here -->
            </form>
        </div>

        <div class="loginSection">
            <header onclick="setActive(true)">Iniciar Sesion como...</header>


            <div class="separator">
                <div class="line"></div>
                <p>Or</p>
                <div class="line"></div>
            </div>

            <form id="loginForm" method="POST" action="/logIn">
                <!-- Form fields will be dynamically inserted here -->
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let active = false;
            let personaType = false;
            let tipoDNI = 'DNI';
            const contactos = {
                whatsapp: false,
                email: false,
                telegram: false
            };
            const valoresContacto = {
                telefono: '',
                email: '',
                telegram: ''
            };
            const contactosVisibles = {
                telefono: false,
                email: false,
                telegram: false
            };

            const container = document.getElementById('container');
            const registerForm = document.getElementById('registerForm');
            const loginForm = document.getElementById('loginForm');

            window.setActive = function (value) {
                active = value;
                container.classList.toggle('active', active);
                if (active) {
                    updateForms();
                }
            }

            window.setPersonaType = function (type) {
                personaType = type;
                updateForms();
            }

            window.toggleContacto = function (tipo) {
                contactosVisibles[tipo] = !contactosVisibles[tipo];
                updateForms();
            }

            window.handleRegister = function (event) {
                event.preventDefault();
                if (!Object.values(valoresContacto).some(value => value.trim() !== '')) {
                    alert('Por favor, complete al menos un contacto.');
                    return;
                }
                // Procesar el formulario de registro
            }

            function updateForms() {
                // Guardar los valores actuales de los campos
                const currentValues = {};
                const inputs = registerForm.querySelectorAll('input');
                inputs.forEach(input => {
                    currentValues[input.name] = input.value;
                });
                registerForm.innerHTML = '';
                loginForm.innerHTML = '';

                if (personaType === 'juridica') {
                    registerForm.innerHTML = `
            <input type="number" placeholder="N° CUIT" name="cuit" required/>
            <input type="hidden" name="persona" value="juridica" required/>
            <input type="text" placeholder="Nombre de usuario" name="usuario" required/>
            <select name="tipoPJ" required>
                <option value="GUBERNAMENTAL">GUBERNAMENTAL</option>
                <option value="ONG">ONG</option>
                <option value="EMPRESA">EMPRESA</option>
                <option value="INSTITUCION">INSTITUCION</option>
            </select>
            <input type="text" placeholder="Rubro" name="rubro" required/>
            ${createContactoField('telefono')}
            ${createContactoField('email')}
            ${createContactoField('telegram')}
            <input type="password" placeholder="Contraseña" name="password" required/>
            <button type="submit" class="btn">Registrarse</button>
        `;
                } else if (personaType === 'humana') {
                    registerForm.innerHTML = `
            <div>
                <select value="${tipoDNI}" onchange="setTipoDNI(event)" name="tipoDoc" class="select selectDNI">
                    <option value="DNI">DNI</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="LC">LC</option>
                    <option value="LE">LE</option>
                </select>
                <input type="number" placeholder="Número" name="numeroDoc" required/>
            </div>
            <input type="hidden" name="persona" value="humana" required/>
            <input type="text" placeholder="Nombre" name="nombre" required/>
            <input type="text" placeholder="Apellido" name="apellido" required/>
            <input type="text" placeholder="Nombre de usuario" name="usuario" required/>
            ${createContactoField('telefono')}
            ${createContactoField('email')}
            ${createContactoField('telegram')}
            <input type="password" placeholder="Contraseña" name="password" required/>
            <button type="submit" class="btn">Registrarse</button>
        `;
                } else if (personaType === 'tecnico') {
                    registerForm.innerHTML = `
            <div>
                <select value="${tipoDNI}" onchange="setTipoDNI(event)" name="tipoDoc" class="select selectDNI">
                    <option value="DNI">DNI</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="LC">LC</option>
                    <option value="LE">LE</option>
                </select>
                <input type="number" placeholder="Número" name="numeroDoc" required/>
            </div>
            <input type="number" placeholder="N° CUIT" name="cuit" required/>
            <input type="hidden" name="persona" value="tecnico" required/>
            <input type="text" placeholder="Nombre" name="nombre" required/>
            <input type="text" placeholder="Apellido" name="apellido" required/>
            <label for="provincia">Provincia:</label>
                    <select id="provincia" name="provincia" required onchange="updateLocalidades()">
                        <option value="" disabled selected>Selecciona una provincia</option>
                        <option value="provincia-buenos-aires">Buenos Aires</option>
                        <option value="provincia-buenos-aires-sur">Buenos Aires-GBA</option>
                        <option value="capital-federal">Capital Federal</option>
                    </select>
                    <label for="localidad">Localidad:</label>
                    <select id="localidad" name="localidad" required disabled>
                        <option value="" disabled selected>Selecciona una localidad</option>
                    </select>
                    <label for="calle">Calle:</label>
                    <input type="text" id="calle" name="calle" required>
                    <div id="calle-alert" class="custom-alert-info" style="display: none;">
                        ¡OJO! -> La calle debe pertenecer a la provincia y localidad seleccionada.
                    </div>
                    <label for="altura">Altura:</label>
                    <input type="number" id="altura" name="altura" required>
            <input type="text" placeholder="Nombre de usuario" name="usuario" required/>
            <input type="password" placeholder="Contraseña" name="password" required/>
            <button type="submit" class="btn">Registrarse</button>
        `;
                } else if (personaType === 'administrador') {
                    registerForm.innerHTML = `
            <input type="text" placeholder="Nombre de usuario" name="usuario" required/>
            <input type="email" placeholder="Email" name="email" required/>
            <input type="password" placeholder="Contraseña" name="password" required/>
            <input type="hidden" name="persona" value="administrador" required/>
            <button type="submit" class="btn">Registrarse</button>
        `;
                }

                loginForm.innerHTML = `
            <input type="text" name="usuario" placeholder="Usuario" required/>
            <input type="hidden" name="tipoUsuario" value="${personaType}"/>
            <input type="password" name="password" placeholder="Contraseña" required/>
            <a href="#">Olvidaste la contraseña?</a>
            <button type="submit" class="btn">Acceder</button>
        `;
            }

            function createContactoField(tipo) {
                return `
            <label class="contacto-container">
                <button type="button" onclick="toggleContacto('${tipo}')" class="plusButton">+</button>
                ${capitalizeFirstLetter(tipo)}
                ${contactosVisibles[tipo] ? `<input type="text" name="${tipo}" placeholder="${capitalizeFirstLetter(tipo)}" value="${valoresContacto[tipo]}" oninput="handleInputChange(event)"/>` : ''}
            </label>
        `;
            }

            window.setTipoDNI = function (event) {
                tipoDNI = event.target.value;
                updateForms();
            }

            window.handleInputChange = function (event) {
                valoresContacto[event.target.name] = event.target.value;
            }

            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            updateForms();
        });

        function updateLocalidades() {
            const provincia = document.getElementById('provincia').value;
            const localidad = document.getElementById('localidad');
            localidad.disabled = false;
            localidad.innerHTML = ''; // Limpia las opciones de localidad

            let opcionesLocalidades = [];
            switch (provincia) {
                case 'provincia-buenos-aires':
                    opcionesLocalidades = [
                        '25 de Mayo', '3 de febrero', 'A. Alsina', 'A. Gonzáles Cháves', 'Aguas Verdes',
                        'Alberti', 'Arrecifes', 'Ayacucho', 'Azul', 'Bahía Blanca', 'Balcarce', 'Baradero',
                        'Benito Juárez', 'Berisso', 'Bolívar', 'Bragado', 'Brandsen', 'Campana', 'Cañuelas',
                        'Capilla del Señor', 'Capitán Sarmiento', 'Carapachay', 'Carhue', 'Cariló',
                        'Carlos Casares', 'Carlos Tejedor', 'Carmen de Areco', 'Carmen de Patagones',
                        'Castelli', 'Chacabuco', 'Chascomús', 'Chivilcoy', 'Colón', 'Coronel Dorrego',
                        'Coronel Pringles', 'Coronel Rosales', 'Coronel Suarez', 'Costa Azul', 'Costa Chica',
                        'Costa del Este', 'Costa Esmeralda', 'Daireaux', 'Darregueira', 'Del Viso', 'Dolores',
                        'Don Torcuato', 'Ensenada', 'Escobar', 'Exaltación de la Cruz', 'Florentino Ameghino',
                        'Garín', 'Gral. Alvarado', 'Gral. Alvear', 'Gral. Arenales', 'Gral. Belgrano',
                        'Gral. Guido', 'Gral. Lamadrid', 'Gral. Las Heras', 'Gral. Lavalle', 'Gral. Madariaga',
                        'Gral. Pacheco', 'Gral. Paz', 'Gral. Pinto', 'Gral. Pueyrredón', 'Gral. Rodríguez',
                        'Gral. Viamonte', 'Gral. Villegas', 'Guaminí', 'Guernica', 'Hipólito Yrigoyen',
                        'Ing. Maschwitz', 'Junín', 'La Plata', 'Laprida', 'Las Flores', 'Las Toninas',
                        'Leandro N. Alem', 'Lincoln', 'Loberia', 'Lobos', 'Los Cardales', 'Los Toldos',
                        'Lucila del Mar', 'Luján', 'Magdalena', 'Maipú', 'Mar Chiquita', 'Mar de Ajó',
                        'Mar de las Pampas', 'Mar del Plata', 'Mar del Tuyú', 'Marcos Paz', 'Mercedes',
                        'Miramar', 'Monte', 'Monte Hermoso', 'Munro', 'Navarro', 'Necochea', 'Olavarría',
                        'Partido de la Costa', 'Pehuajó', 'Pellegrini', 'Pergamino', 'Pigüé', 'Pila',
                        'Pilar', 'Pinamar', 'Pinar del Sol', 'Polvorines', 'Pte. Perón', 'Puán',
                        'Punta Indio', 'Ramallo', 'Rauch', 'Rivadavia', 'Rojas', 'Roque Pérez', 'Saavedra',
                        'Saladillo', 'Salliqueló', 'Salto', 'San Andrés de Giles', 'San Antonio de Areco',
                        'San Antonio de Padua', 'San Bernardo', 'San Cayetano', 'San Clemente del Tuyú',
                        'San Nicolás', 'San Pedro', 'San Vicente', 'Santa Teresita', 'Suipacha', 'Tandil',
                        'Tapalqué', 'Tordillo', 'Tornquist', 'Trenque Lauquen', 'Tres Lomas', 'Villa Gesell',
                        'Villarino', 'Zárate'
                    ];
                    break;

                case 'capital-federal':
                    opcionesLocalidades = [
                        'Agronomía', 'Almagro', 'Balvanera', 'Barracas', 'Belgrano', 'Boca', 'Boedo',
                        'Caballito', 'Chacarita', 'Coghlan', 'Colegiales', 'Constitución', 'Flores',
                        'Floresta', 'La Boca', 'La Paternal', 'Liniers', 'Mataderos', 'Monte Castro',
                        'Monserrat', 'Nueva Pompeya', 'Núñez', 'Palermo', 'Parque Avellaneda',
                        'Parque Chacabuco', 'Parque Chas', 'Parque Patricios', 'Puerto Madero', 'Recoleta',
                        'Retiro', 'Saavedra', 'San Cristóbal', 'San Nicolás', 'San Telmo', 'Vélez Sársfield',
                        'Versalles', 'Villa Crespo', 'Villa del Parque', 'Villa Devoto', 'Villa Gral. Mitre',
                        'Villa Lugano', 'Villa Luro', 'Villa Ortúzar', 'Villa Pueyrredón', 'Villa Real',
                        'Villa Riachuelo', 'Villa Santa Rita', 'Villa Soldati', 'Villa Urquiza'
                    ];
                    break;

                case 'provincia-buenos-aires-sur':
                    opcionesLocalidades = [
                        '11 de Septiembre', '20 de Junio', '25 de Mayo', 'Acassuso', 'Adrogué', 'Aldo Bonzi',
                        'Área Reserva Cinturón Ecológico', 'Avellaneda', 'Banfield', 'Barrio Parque',
                        'Barrio Santa Teresita', 'Beccar', 'Bella Vista', 'Berazategui', 'Bernal Este',
                        'Bernal Oeste', 'Billinghurst', 'Boulogne', 'Burzaco', 'Carapachay', 'Caseros',
                        'Castelar', 'Churruca', 'Ciudad Evita', 'Ciudad Madero', 'Ciudadela', 'Claypole',
                        'Crucecita', 'Dock Sud', 'Don Bosco', 'Don Orione', 'El Jagüel', 'El Libertador',
                        'El Palomar', 'El Tala', 'El Trébol', 'Ezeiza', 'Ezpeleta', 'Florencio Varela',
                        'Florida', 'Francisco Álvarez', 'Gerli', 'Glew', 'González Catán', 'Gral. Lamadrid',
                        'Grand Bourg', 'Gregorio de Laferrere', 'Guillermo Enrique Hudson', 'Haedo',
                        'Hurlingham', 'Ing. Sourdeaux', 'Isidro Casanova', 'Ituzaingó', 'José C. Paz',
                        'José Ingenieros', 'José Marmol', 'La Lucila', 'La Reja', 'La Tablada', 'Lanús',
                        'Llavallol', 'Loma Hermosa', 'Lomas de Zamora', 'Lomas del Millón', 'Lomas del Mirador',
                        'Longchamps', 'Los Polvorines', 'Luis Guillón', 'Malvinas Argentinas', 'Martín Coronado',
                        'Martínez', 'Merlo', 'Ministro Rivadavia', 'Monte Chingolo', 'Monte Grande', 'Moreno',
                        'Morón', 'Muñiz', 'Olivos', 'Pablo Nogués', 'Pablo Podestá', 'Paso del Rey', 'Pereyra',
                        'Piñeiro', 'Plátanos', 'Pontevedra', 'Quilmes', 'Rafael Calzada', 'Rafael Castillo',
                        'Ramos Mejía', 'Ranelagh', 'Remedios de Escalada', 'Sáenz Peña', 'San Antonio de Padua',
                        'San Fernando', 'San Francisco Solano', 'San Isidro', 'San José', 'San Justo', 'San Martín',
                        'San Miguel', 'Santos Lugares', 'Sarandí', 'Sourigues', 'Tapiales', 'Temperley', 'Tigre',
                        'Tortuguitas', 'Tristán Suárez', 'Trujui', 'Turdera', 'Valentín Alsina', 'Vicente López',
                        'Villa Adelina', 'Villa Ballester', 'Villa Bosch', 'Villa Caraza', 'Villa Celina',
                        'Villa Centenario', 'Villa de Mayo', 'Villa Diamante', 'Villa Domínico', 'Villa España',
                        'Villa Fiorito', 'Villa Guillermina', 'Villa Insuperable', 'Villa José León Suárez',
                        'Villa La Florida', 'Villa Luzuriaga', 'Villa Martelli', 'Villa Obrera', 'Villa Progreso',
                        'Villa Raffo', 'Villa Sarmiento', 'Villa Tesei', 'Villa Udaondo', 'Virrey del Pino',
                        'Wilde', 'William Morris'
                    ];
                    break;

                default:
                    opcionesLocalidades = [];
            }


            opcionesLocalidades.forEach(localidadNombre => {
                const option = document.createElement('option');
                option.value = localidadNombre.toLowerCase().replace(/\s/g, '-');
                option.textContent = localidadNombre;
                localidad.appendChild(option);
            });
        }
        document.getElementById('provincia').addEventListener('change', updateLocalidades);


    </script>
{{/partial}}
{{> templates/baseSinNav }}