{{#partial "contenido"}}
    <div class="container" style="padding:20px; margin-left: 350px; margin-top: 300px;">
        <form action="/recomendadorColaboradores/colaboradores" method="GET">
            <div class="form-group row">
                <label for="minPuntos" style="color: aliceblue; display: inline-block; width: 150px;">Min Puntos:</label>
                <input type="text" id="minPuntos" name="minPuntos" style="width: 300px;" pattern="\d+(\.\d{1,2})?" title="Please enter a valid number with up to 2 decimal places.">
            </div>
            <div class="form-group row">
                <label for="minDonaciones" style="color: aliceblue; display: inline-block; width: 150px;">Min Donaciones:</label>
                <input type="number" id="minDonaciones" name="minDonaciones" style="width: 300px;">
            </div>
            <div class="form-group row">
                <label for="page" style="color: aliceblue; display: inline-block; width: 150px;">Page:</label>
                <input type="number" id="page" name="page" style="width: 300px;">
            </div>
            <div class="form-group row">
                <label for="limit" style="color: aliceblue; display: inline-block; width: 150px;">Limit:</label>
                <input type="number" id="limit" name="limit" style="width: 300px;">
            </div>
            <div class="form-group row">
                <label for="sort" style="color: aliceblue; display: inline-block; width: 150px;">Sort:</label>
                <input type="text" id="sortString" name="sortString" style="width: 300px;">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Imagenes -->
    <img src="/images/imagen-pagina-principal-sin-fondo.jpg" alt="Descripción de la imagen"
         class="pg-principal-imagen-full-width active">
    <img src="/images/logo-sin-fondo.png" alt="Logo" class="pg-principal-imagen-logo-esquina">

{{/partial}}
{{> templates/baseSinNav }}