<style>
    .fade {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .fade-in {
        opacity: 1;
    }
</style>

{{#partial "contenido"}}
    <div class="container">
        <button class="colaborar-btn boton-estilo-comun {{#if colaboradora}}{{else}}disabledBtn{{/if}}"
                id="colaborarBtn" onclick="location.href='/colaboracion'">
            <img src="/images/logoColaborar.png" alt="Logo Colaborar"
                 style="margin-right: 10px; height: 24px;">
            Colaborar
        </button>
        <button class="solicitar-btn boton-estilo-comun {{#if vulnerable}}{{else}}disabledBtn{{/if}}" id="solicitarBtn">
            <img src="/images/logoSolicitar.png" alt="Logo Solicitar" style="margin-right: 10px; height: 24px;">
            Solicitar
        </button>
    </div>

    <!-- Imagenes -->
    <img src="/images/imagen-pagina-principal-sin-fondo.jpg" alt="Descripción de la imagen"
         class="pg-principal-imagen-full-width active">
    <img src="/images/logo-sin-fondo.png" alt="Logo" class="pg-principal-imagen-logo-esquina">

    <div class="rectangulo-personalizado">
        <div class="stats-container">
            <div class="stats-card active">
                <div class="stats-title">Ayuda a crear un mundo mejor donando</div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const messages = [
                { text: "Total recaudado: $100,000", type: "text" },
                { text: "Número de personas ayudadas: 5000", type: "text" },
                { text: "Cada donación cuenta", type: "text" },
                { text: "Gracias por tu apoyo", type: "text" }
            ];
            let currentIndex = 0;
            const statsTitle = document.querySelector('.stats-title');
            statsTitle.classList.add('fade-in');

            setInterval(() => {
                statsTitle.classList.remove('fade-in');
                statsTitle.classList.add('fade');

                setTimeout(() => {
                    const message = messages[currentIndex];
                    if (message.type === "link") {
                        statsTitle.innerHTML = `<a href="${message.url}" target="_blank">${message.text}</a>`;
                    } else {
                        statsTitle.textContent = message.text;
                    }
                    statsTitle.classList.remove('fade');
                    statsTitle.classList.add('fade-in');
                    currentIndex = (currentIndex + 1) % messages.length;
                }, 1000); // Wait for the fade-out effect to complete
            }, 4000); // Change the message every 4 seconds (1 second for fade-out, 3 seconds display)
        });
    </script>
{{/partial}}
{{> templates/base}}